body {
    font-family: 'Arima', cursive;
    margin: 0%;
}

h1 {
    font-size: 50px;
    color: rgb(66, 28, 204);
}

.orange-color {
    color: orange;
}

.flexibale-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: whitesmoke;
    font-weight: 700;
    padding: 10px 40px;
    border: radius 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;


}

.experience-item {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5%;
    box-shadow: 20px 20px 50px burlywood;
    border-left: 10px saddlebrown blueviolet;

}

.dream-big {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#Full-Stack-Developer {

    border-left: 7px solid rgb(152, 17, 96);
}

#Baby-Web-Developer {
    border-left: 7px solid rgb(114, 75, 231);
}

footer p {
    text-align: center;
}